.wrapper {
  margin: 5vw 5vh;
  background-color: #23252C;
  padding: 116px 44px;
  display: flex;
  font-weight: 700;
  font-size: 40px;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  width: 600px;
  max-width: 600px;
  height: auto;
  background-color: #1A1B21;
  border-radius: 10px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
}

.card-image {
  margin: 0;
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.name {
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-bottom: 0;
}

.job {
  color: #F3BF99;
  font-weight: 300;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-group {
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: auto;
}


button {
  font-family: 'Inter';
  padding: 14px 0 14px 0;
  width: 200px;
  background-color:white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 4px 4px 2px rgb(116, 88, 88);
}

a {
  text-decoration: none;
  color: inherit; 
  background: none; 
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

.card-footer {
  background-color: #161619;
  min-height: 40px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

.container {
  margin-left: 36px;
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 20px;
  margin-right: 36px;
  gap: 0;
  justify-content: center; 
  align-items: center;
}

.text-container {
  margin: 0px 44px;
  justify-content: flex-start;
}

p {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
}